# Unintentional Injuries Dataset

Summary of admissions to hospital and deaths in Scotland from unintentional injuries and assaults.


This dataset has 2 files: Admissions and Deaths. go to the source website to read more abotu it: https://www.opendata.nhs.scot/gl/dataset/unintentional-injuries

#### Your task is straightforward: 

1. Explore this dataset using Pandas.
2. Itentify and answer 5 questions in the notebook below

#### For EACH question should have following components:

- clear statement of the question (1 sentence)
- code which investigates your question in the dataset
- clear answer to the question (2-3 sentences)
- visualisation (can be very simple and can be anything: print, Pandas table, graph)

Remember these do not have to be complicated or long. It's just for practice. You will get feedback on your submission.

Next wednesday in during the labs each of you will present for 5-10 minutes what you achieved. You will share your screen and show everyone else what you prepared.

- just show your notebook, with questions, code and graphs (no need for slides or anything else)
- Between 5 and 10 minutes is not a long time, so you might chose to presend only 2-3 of your questions. Or show all of them but focus on your favourite. You decide what you'll do with your presenting time.
- this is not marked but you will get feedback about your code, questions and visualisation. This type of question-answering will be a part of the final assignment, so this feedback will be useful

For people who cannot attend the Wednesday session on week 3:

- complete this notebook with 5 questions as everyone else
- pick your favourite 2 questions and post the answer (code, writings and visualisation) in Learn Forum for "Formative Assignment". This will replace your presenting during the lab. Please do it by the end of last lab (Wednesday Week 3, 8pm). We will take a few days to give you feedback.

# Exploration

All steps that are required to familiarise with the given data.

In [ ]:
## Libraries
# Importing the libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [12]:
## Datasets (from url)
# Loading the data of admissions in Scotland (added `convert_dtypes)
admissions_df = pd.read_csv('https://www.opendata.nhs.scot/dataset/b0135993-3d8a-4f3b-afcf-e01f4d52137c/resource/aee43295-2a13-48f6-bf05-92769ca7c6cf/download/ui_admissions_2022.csv').convert_dtypes()
admissions_df.to_csv('admissions_raw.csv', index=False)

# Loading the data of deaths in Scotland (added `convert_dtypes)
deaths_df = pd.read_csv('https://www.opendata.nhs.scot/dataset/b0135993-3d8a-4f3b-afcf-e01f4d52137c/resource/89807e07-fc5f-4b5e-a077-e4cf59491139/download/ui_deaths_-2022-.csv').convert_dtypes()
deaths_df.to_csv('deaths_raw.csv', index=False)

In [23]:
## Datasets (from local files)
# Loading the data of admissions in Scotland
admissions_df = pd.read_csv('admissions_raw.csv').convert_dtypes()

# Loading the data of deaths in Scotland
deaths_df = pd.read_csv('deaths_raw.csv').convert_dtypes()

/var/folders/wd/r_s1bkq94kjf9m96tlrt6_zh0000gn/T/ipykernel_1586/1182735204.py:6: DtypeWarning: Columns (2,4) have mixed types. Specify dtype option on import or set low_memory=False.
  deaths_df = pd.read_csv('deaths_raw.csv').convert_dtypes()

In [24]:
## Admission data
# Exploring the admission data
print(admissions_df.shape)
print(admissions_df.info())
print(admissions_df['FinancialYear'].unique())

# Dropping columns
admissions_df = admissions_df.drop(columns=['HBRQF', 'CAQF', 'AgeGroupQF', 'SexQF', 'InjuryLocationQF', 'InjuryTypeQF'])

# Coercing data types
admissions_df['FinancialYear'] = admissions_df['FinancialYear'].astype('category')
print(admissions_df.info())

#admissions_df = admissions_df[['']]
admissions_df

(390177, 14)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 390177 entries, 0 to 390176
Data columns (total 14 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   FinancialYear       390177 non-null  string
 1   HBR                 390177 non-null  string
 2   HBRQF               12150 non-null   string
 3   CA                  390177 non-null  string
 4   CAQF                12150 non-null   string
 5   AgeGroup            390177 non-null  string
 6   AgeGroupQF          44541 non-null   string
 7   Sex                 390177 non-null  string
 8   SexQF               132057 non-null  string
 9   InjuryLocation      390177 non-null  string
 10  InjuryLocationQF    80091 non-null   string
 11  InjuryType          390177 non-null  string
 12  InjuryTypeQF        43353 non-null   string
 13  NumberOfAdmissions  390177 non-null  Int64
dtypes: Int64(1), string(13)
memory usage: 42.0 MB
None
<StringArray>
['2013/14', '2014/15', '2015/16', '2016/17', '2017/18', '2018/19', '2019/20',
 '2020/21', '2021/22', '2022/23']
Length: 10, dtype: string
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 390177 entries, 0 to 390176
Data columns (total 8 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   FinancialYear       390177 non-null  category
 1   HBR                 390177 non-null  string
 2   CA                  390177 non-null  string
 3   AgeGroup            390177 non-null  string
 4   Sex                 390177 non-null  string
 5   InjuryLocation      390177 non-null  string
 6   InjuryType          390177 non-null  string
 7   NumberOfAdmissions  390177 non-null  Int64
dtypes: Int64(1), category(1), string(6)
memory usage: 21.6 MB
None

,FinancialYear,HBR,CA,AgeGroup,Sex,InjuryLocation,InjuryType,NumberOfAdmissions
0,2013/14,S92000003,S92000003,All,All,All,All Diagnoses,54974
1,2013/14,S92000003,S92000003,All,All,All,RTA,3069
2,2013/14,S92000003,S92000003,All,All,All,Poisoning,2865
3,2013/14,S92000003,S92000003,All,All,All,Falls,33558
4,2013/14,S92000003,S92000003,All,All,All,"Struck by, against",2453
...,...,...,...,...,...,...,...,...
390172,2022/23,S08000032,S12000029,75plus years,Female,Undisclosed,"Struck by, against",1
390173,2022/23,S08000032,S12000029,75plus years,Female,Undisclosed,Crushing,0
390174,2022/23,S08000032,S12000029,75plus years,Female,Undisclosed,Scalds,0
390175,2022/23,S08000032,S12000029,75plus years,Female,Undisclosed,Accidental Exposure,27
390176,2022/23,S08000032,S12000029,75plus years,Female,Undisclosed,Other,6

In [3]:
## Deaths data
# Exploring the deaths data
deaths_df

,Year,HBR,HBRQF,CA,CAQF,AgeGroup,AgeGroupQF,Sex,SexQF,InjuryLocation,InjuryLocationQF,InjuryType,InjuryTypeQF,NumberofDeaths
0,2013,S92000003,d,S92000003,d,All,d,All,d,All,d,All,d,1664
1,2013,S92000003,d,S92000003,d,All,d,All,d,All,d,Land transport accidents,NaN,189
2,2013,S92000003,d,S92000003,d,All,d,All,d,All,d,Poisoning,NaN,510
3,2013,S92000003,d,S92000003,d,All,d,All,d,All,d,Falls,NaN,718
4,2013,S92000003,d,S92000003,d,All,d,All,d,All,d,"Struck by,against",NaN,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197221,2022,S08000032,NaN,S12000050,NaN,75plus years,NaN,Female,NaN,Undisclosed,NaN,"Struck by,against",NaN,0
197222,2022,S08000032,NaN,S12000050,NaN,75plus years,NaN,Female,NaN,Undisclosed,NaN,Crushing,NaN,0
197223,2022,S08000032,NaN,S12000050,NaN,75plus years,NaN,Female,NaN,Undisclosed,NaN,Scalds,NaN,0
197224,2022,S08000032,NaN,S12000050,NaN,75plus years,NaN,Female,NaN,Undisclosed,NaN,Accidental exposure,NaN,1
197225,2022,S08000032,NaN,S12000050,NaN,75plus years,NaN,Female,NaN,Undisclosed,NaN,Other,NaN,0

# Question A

**Question**:

In [ ]:
# Analyzing the data

In [ ]:
# Visualizing the data

**Answer**:

# Question B

**Question**:

In [ ]:
# Analyzing the data

In [ ]:
# Visualizing the data

**Answer**:

# Question C

**Question**:

In [ ]:
# Analyzing the data

In [ ]:
# Visualizing the data

**Answer**:

# Question D

**Question**:

In [ ]:
# Analyzing the data

In [ ]:
# Visualizing the data

**Answer**:

# Question E

**Question**:

In [ ]:
# Analyzing the data

In [ ]:
# Visualizing the data

**Answer**:

# Summary

The dataset was explored and 5 questions were asked and answered.